<!DOCTYPE html>
<html>
    <head>
        <title>GaProject3</title>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
        <%= csrf_meta_tags %>


        <style>
        /*svg {
          border: 1px solid red;
        }*/

        text {
          color: black;
        }

        .bars {
          fill: #cbd7d7;
        }

        text.value {
          fill: black;
        }

        .axis text {
          font: 12pt sans-serif;
          font-family: 'Poiret One', cursive;
        }

        .axis path, .axis line {
          fill: none;
          stroke: #000;
          shape-rendering: crispEdges;
        }
        .y.axis path, .y.axis line {
          stroke: none;
        }

        .arc text {
          font-family: monospace;;
          text-anchor: middle;
          font-size: 20px;
          font-weight: bold;;
        }
        .arc path {
          stroke: #fff;
        }


        </style>


        <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />


    </head>
    <body>

        <!-- Main jumbotron for a primary marketing message or call to action -->
        <div class="jumbotron">

          <div class="container">
            <%= image_tag "twitter.png", class:"logo" %>
            <!-- <img src="assets/twitter" class="logo"> -->

            <h1 class="logo-text">Top Topics</h1>


            </div>
        </div>
        <!-- <div class="container-fluid" role="main"> -->
        <div class="container-fluid">
            <%= yield %>
        </div>

        <!-- </div> -->
        <!-- /container -->
        </div>
    </body>
</html>
